*{
    margin: 0;
    padding: 0;
}

body{
    width: 80%;
    margin: 50px auto;
    background: #ed0f0fa6;
    font-family: 'Montserrat', sans-serif; 
}

img{
    padding: 20px 0;
}

p{
    font-size: 20px;
}

a{
    color: black;
}

.text{
    line-height: 1.3em;
}

.space{
    margin: 10px 0;
}