*{
    margin: 0;
    padding: 0;
}

body{

    font-family: 'Montserrat', sans-serif; 
    height: 100vh;
}

header, footer {
    background: #FFFB7D;
    height: 30px;
    font-size: 20px;
    padding: 20px;
}

main {
    width: 80%;
    margin: 0 auto;
}

img{
    padding: 20px 0;
}

p{
    font-size: 20px;
}

a{
    color: black;
}

.text{
    line-height: 1.3em;
}

.space{
    margin: 10px 0;
}

.goals {
    padding: 50px 0;
}

.goals div {
    padding: 10px 0;
}
.goals div p{
    padding-top: 5px;
    font-size: 18px;
}

.goals ol {
    padding-top: 5px;
}